$dark-text: #1B1324;
$dark-purple: #4C4452;
$blue: #1A92D0;
$light-blue: #C1CBD8;
$pastel-blue: #A3D3EC;
$light-white-blue: #E8F4FA;
$white: #FFF;
$red: #F04438;


//new colors 
$aged-paper-dark: #8B7355;    // темный коричневый цвет старой бумаги
$aged-paper-medium: #C4A484;   // средний оттенок состаренной бумаги
$aged-paper-light: #DEB887;    // светлый бежевый цвет
$wooden-floor: #5C4033;        // темный цвет деревянного пола
$sepia: #704214;               // темный коричневый цвет