.form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.0417vw;
  width: 24.2188vw;

  .form-group {
    position: relative;
  }
  
  .input-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .form-group {
      width: 49%;
    }
  }

  .forgot-password-link {
    position: absolute;
    height: max-content;
    z-index: 10;
    right: 0;
  }

  @include _768 {
    width: 100%;
    gap: 20px;
  }
}